<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link th:href="@{/static/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet" />
<script type="text/javascript" th:src="@{/static/jquery/jquery-1.11.1-min.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>


<link th:href="@{/static/jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css}" type="text/css" rel="stylesheet" />
<script type="text/javascript" th:src="@{/static/jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/bootstrap-datetimepicker-master/locale/bootstrap-datetimepicker.zh-CN.js}"></script>

<script type="text/javascript" th:inline="javascript">


	$(function(){

		var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];

		$("#isCreateTransaction").click(function(){
			if(this.checked){
				$("#create-transaction2").show(200);
			}else{
				$("#create-transaction2").hide(200);
			}
		});

		//给搜索市场活动按钮添加单击事件
		$("#searchActivityBtn").click(function () {
			//初始化工作
			//清空搜索框
			$("#searchActivityTxt").val("");
			$("#tBody").html("");
			//弹出关联市场活动模态窗口
			$("#searchActivityModal").modal("show");
		});

		//给搜索市场活动搜索框添加键盘弹起事件
		$("#searchActivityTxt").keyup(function () {
			//收集参数
			var activityName = this.value;
			var clueId = $("#clueId").val();

			//发送请求
			$.ajax({
				url: basePath + '/workbench/clue/queryClueActivityRelationByClueIdActivityId.do',
				data:{
					activityName:activityName,
					clueId:clueId
				},
				type:'post',
				dataType:'json',
				success:function (data) {

					//显示总条数
					//$("#totalRowsB").text(data.totalRows)
					//显示市场活动的列表
					//遍历activityList，拼接所有行数据
					var htmlStr="";
					$.each(data,function (index,obj){
						htmlStr+="<tr>"
						htmlStr+="<td><input type=\"radio\" value=\""+obj.id+"\" activityName=\""+obj.name+"\" name=\"activity\"/></td>";
						htmlStr+="<td>"+ obj.name +"</td>"
						htmlStr+="<td>"+ obj.startDate +"</td>"
						htmlStr+="<td>"+ obj.endDate +"</td>"
						htmlStr+="<td>"+ obj.owner +"</td>"
						htmlStr+="</tr>"
					});
					$("#tBody").html(htmlStr);
				}
			});
		});

		// //给所有市场活动的单选按钮添加单击事件
		// $("#tBody").on("click","input[type='radio]",function () {
		// 	//获取市场活动的id和name
		// 	var id=this.value;
		// 	var activityName=$(this).attr("activityName");
		// 	//把市场活动id写到隐藏域，把name写到输入框中
		// 	$("#activityId").val(id);
		// 	$("#activityName").val(activityName);
		// 	//关闭搜索市场活动模态窗口
		// 	$("#searchActivityModal").modal("hide");
		// });

		//给所有市场活动的单选按钮添加单击事件
		$("#tBody").on("click","input[type='radio']",function () {
			//获取市场活动的id和name
			var id=this.value;
			var activityName=$(this).attr("activityName");
			//把市场活动的id写到隐藏域，把name写到输入框中
			$("#activityId").val(id);
			$("#activityName").val(activityName);
			//关闭搜索市场活动的模态窗口
			$("#searchActivityModal").modal("hide");
		});


	});
</script>

</head>
<body>
	
	<!-- 搜索市场活动的模态窗口 -->
	<div class="modal fade" id="searchActivityModal" role="dialog" >
		<div class="modal-dialog" role="document" style="width: 90%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">搜索市场活动</h4>
				</div>
				<div class="modal-body">
					<div class="btn-group" style="position: relative; top: 18%; left: 8px;">
						<form class="form-inline" role="form">
						  <div class="form-group has-feedback">
						    <input type="text" class="form-control" id="searchActivityTxt" style="width: 300px;" placeholder="请输入市场活动名称，支持模糊查询">
						    <span class="glyphicon glyphicon-search form-control-feedback"></span>
						  </div>
						</form>
					</div>
					<table id="activityTable" class="table table-hover" style="width: 900px; position: relative;top: 10px;">
						<thead>
							<tr style="color: #B3B3B3;">
								<td></td>
								<td>名称</td>
								<td>开始日期</td>
								<td>结束日期</td>
								<td>所有者</td>
								<td></td>
							</tr>
						</thead>
						<tbody id="tBody">
<!--							<tr>
								<td><input type="radio" name="activity"/></td>
								<td>发传单</td>
								<td>2020-10-10</td>
								<td>2020-10-20</td>
								<td>zhangsan</td>
							</tr>
							<tr>
								<td><input type="radio" name="activity"/></td>
								<td>发传单</td>
								<td>2020-10-10</td>
								<td>2020-10-20</td>
								<td>zhangsan</td>
							</tr>-->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div id="title" class="page-header" style="position: relative; left: 20px;">
		<input type="hidden" th:value="${clue.id}" id="clueId">
		<h4>转换线索 <small><b th:text="${clue.fullname} + ${clue.appellation} + '-' + ${clue.company}">李四先生-动力节点</b></small></h4>
	</div>
	<div id="create-customer" style="position: relative; left: 40px; height: 35px;">
		新建客户：<b th:text="${clue.company}">动力节点</b>
	</div>
	<div id="create-contact" style="position: relative; left: 40px; height: 35px;">
		新建联系人：<b th:text="${clue.fullname} + ${clue.appellation}">李四先生</b>
	</div>
	<div id="create-transaction1" style="position: relative; left: 40px; height: 35px; top: 25px;">
		<input type="checkbox" id="isCreateTransaction"/>
		为客户创建交易
	</div>
	<div id="create-transaction2" style="position: relative; left: 40px; top: 20px; width: 80%; background-color: #F7F7F7; display: none;" >
	
		<form>
		  <div class="form-group" style="width: 400px; position: relative; left: 20px;">
		    <label for="amountOfMoney">金额</label>
		    <input type="text" class="form-control" id="amountOfMoney">
		  </div>
		  <div class="form-group" style="width: 400px;position: relative; left: 20px;">
		    <label for="tradeName">交易名称</label>
		    <input type="text" class="form-control" id="tradeName" th:value="${clue.company}+'-'">
		  </div>
		  <div class="form-group" style="width: 400px;position: relative; left: 20px;">
		    <label for="expectedClosingDate">预计成交日期</label>
		    <input type="datetime-local" class="form-control" id="expectedClosingDate">
		  </div>
		  <div class="form-group" style="width: 400px;position: relative; left: 20px;">
		    <label for="stage">阶段</label>
		    <select id="stage"  class="form-control">
		    	<option></option>
				<spen th:each="state :${stageList}">
					<option th:value="${state.id}" th:text="${state.value}">zhangsan</option>
				</spen>
		    </select>
		  </div>
		  <div class="form-group" style="width: 400px;position: relative; left: 20px;">
		    <label for="activityName">市场活动源&nbsp;&nbsp;<a href="javascript:void(0);"  id="searchActivityBtn" style="text-decoration: none;"><span class="glyphicon glyphicon-search"></span></a></label>
			<input type="hidden" id="activityId">
		    <input type="text" class="form-control" id="activityName" placeholder="点击上面搜索" readonly>
		  </div>
		</form>
		
	</div>
	
	<div id="owner" style="position: relative; left: 40px; height: 35px; top: 50px;">
		记录的所有者：<br>
		<b th:text="${clue.owner}">zhangsan</b>
	</div>
	<div id="operation" style="position: relative; left: 40px; height: 35px; top: 100px;">
		<input class="btn btn-primary" type="button" value="转换">
		&nbsp;&nbsp;&nbsp;&nbsp;
		<input class="btn btn-default" type="button" value="取消">
	</div>
</body>
</html>