<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link th:href="@{/static/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet" />
<script type="text/javascript" th:src="@{/static/jquery/jquery-1.11.1-min.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>

<script type="text/javascript" th:inline="javascript">

	var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
	//默认情况下取消和保存按钮是隐藏的
	var cancelAndSaveBtnDefault = true;
	
	$(function(){
		$("#remark").focus(function(){
			if(cancelAndSaveBtnDefault){
				//设置remarkDiv的高度为130px
				$("#remarkDiv").css("height","130px");
				//显示
				$("#cancelAndSaveBtn").show("2000");
				cancelAndSaveBtnDefault = false;
			}
		});
		
		$("#cancelBtn").click(function(){
			//显示
			$("#cancelAndSaveBtn").hide();
			//设置remarkDiv的高度为130px
			$("#remarkDiv").css("height","90px");
			cancelAndSaveBtnDefault = true;
		});

		/*$(".remarkDiv").mouseover(function(){
			$(this).children("div").children("div").show();
		});*/
		$("#remarkDivList").on("mouseover",".remarkDiv",function () {
			$(this).children("div").children("div").show();
		});


		/*$(".remarkDiv").mouseout(function(){
			$(this).children("div").children("div").hide();
		});*/
		$("#remarkDivList").on("mouseout",".remarkDiv",function () {
			$(this).children("div").children("div").hide();
		});

		/*$(".myHref").mouseover(function(){
			$(this).children("span").css("color","red");
		});*/
		$("#remarkDivList").on("mouseover",".myHref",function () {
			$(this).children("span").css("color","red");
		});

		/*$(".myHref").mouseout(function(){
			$(this).children("span").css("color","#E6E6E6");
		});*/
		$("#remarkDivList").on("mouseout",".myHref",function () {
			$(this).children("span").css("color","#E6E6E6");
		});

		//给保存按钮添加事件
		$("#saveCreateActivityRemarkBtn").click(function () {
			//收集参数
			var noteContent = $.trim($("#remark").val());
			var activityId = $("#activityId").val();
			var activityName = $("#activityName").val();
			var userName = $("#userName").val();
			//表单验证
			if (noteContent == ""){
				alert("备注内容不能为空");
				return;
			}
			$.ajax({
				url: basePath + '/workbench/activity/saveCreateActivityRemark.do',
				data:{
					noteContent:noteContent,
					activityId:activityId,
				},
				type:'post',
				dataType:'json',
				success:function (data){
					if (data.code=="1"){
						//清空输入框
						// $("#remark").val("");
						// //刷新列表
						// window.location.href="detailActivity.do?id="+activityId;
						//清空输入框
						$("#remark").val("");
						//刷新备注列表
						var htmlStr="";
						htmlStr+="<div id=\"div_"+data.retData.id+"\" class=\"remarkDiv\" style=\"height: 60px;\">";
						htmlStr+="<img title=\""+ userName + "\" src=\"../../image/user-thumbnail.png\" style=\"width: 30px; height:30px;\">";
						htmlStr+="<div style=\"position: relative; top: -40px; left: 40px;\" >";
						htmlStr+="<h5>"+data.retData.noteContent+"</h5>";
						htmlStr+="<font color=\"gray\">市场活动</font> <font color=\"gray\">-</font> <b>" + activityName + "</b> <small style=\"color: gray;\"> "+data.retData.createTime+" 由"+ userName + "创建</small>";
						htmlStr+="<div style=\"position: relative; left: 500px; top: -30px; height: 30px; width: 100px; display: none;\">";
						htmlStr+="<a class=\"myHref\" name=\"editA\" remarkId=\""+data.retData.id+"\" href=\"javascript:void(0);\"><span class=\"glyphicon glyphicon-edit\" style=\"font-size: 20px; color: #E6E6E6;\"></span></a>";
						htmlStr+="&nbsp;&nbsp;&nbsp;&nbsp;";
						htmlStr+="<a class=\"myHref\" name=\"deleteA\" remarkId=\""+data.retData.id+"\" href=\"javascript:void(0);\"><span class=\"glyphicon glyphicon-remove\" style=\"font-size: 20px; color: #E6E6E6;\"></span></a>";
						htmlStr+="</div>";
						htmlStr+="</div>";
						htmlStr+="</div>";
						$("#remarkDiv").before(htmlStr);
					}else {
						alert(data.message);
					}
				}
			})
		})


		//给所有的"删除"图标添加单击事件
		$("#remarkDivList").on("click","a[name='deleteA']",function () {
			//收集参数
			var id=$(this).attr("remarkId");
			//发送请求
			$.ajax({
				url: basePath + '/workbench/activity/deleteActivityRemarkById.do',
				data:{
					id:id
				},
				type:'post',
				dataType:'json',
				success:function (data) {
					if(data.code=="1"){
						//刷新备注列表
						$("#div_"+id).remove();
					}else{
						//提示信息
						alert(data.message);
					}
				}
			});
		});

		//给所有市场活动备注后边的"修改"图标添加单击事件
		$("#remarkDivList").on("click","a[name='editA']",function () {
			//获取备注的id和noteContent
			var id=$(this).attr("remarkId");
			var noteCotent=$("#div_"+id+" h5").text();
			//把备注的id和noteContent写到修改备注的模态窗口中
			$("#edit-id").val(id);
			$("#edit-noteContent").val(noteCotent);
			//弹出修改市场活动备注的模态窗口
			$("#editRemarkModal").modal("show");
		});

		//给“更新”按钮添加单击事件
		$("#updateRemarkBtn").click(function () {
			//收集参数
			var id=$("#edit-id").val();
			var noteContent=$.trim($("#edit-noteContent").val());
			var userName = $("#userName").val();
			//表单验证
			if(noteContent==""){
				alert("备注内容不能为空");
				return;
			}
			//发送请求
			$.ajax({
				url: basePath + '/workbench/activity/saveEditActivityRemark.do',
				data:{
					id:id,
					noteContent:noteContent
				},
				type:'post',
				dataType:'json',
				success:function (data) {
					if(data.code=="1"){
						//关闭模态窗口
						$("#editRemarkModal").modal("hide");
						//刷新备注列表
						$("#div_"+data.retData.id+" h5").text(data.retData.noteContent);
						$("#div_"+data.retData.id+" small").text(" "+data.retData.editTime+"由" + userName+ "修改");
					}else{
						//提示信息
						alert(data.message);
						//模态窗口不关闭
						$("#editRemarkModal").modal("show");
					}
				}
			});
		});



	});
	
</script>

</head>
<body>
	
	<!-- 修改市场活动备注的模态窗口 -->
	<div class="modal fade" id="editRemarkModal" role="dialog">
		<input type="hidden" id="remarkId">
        <div class="modal-dialog" role="document" style="width: 40%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改备注</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
						<input type="hidden" id="edit-id">
                        <div class="form-group">
                            <label for="edit-noteContent" class="col-sm-2 control-label">内容</label>
                            <div class="col-sm-10" style="width: 81%;">
                                <textarea class="form-control" rows="3" id="edit-noteContent"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="updateRemarkBtn">更新</button>
                </div>
            </div>
        </div>
    </div>

    

	<!-- 返回按钮 -->
	<div style="position: relative; top: 35px; left: 10px;">
		<a href="javascript:void(0);" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left" style="font-size: 20px; color: #DDDDDD"></span></a>
	</div>
	
	<!-- 大标题 -->
	<div style="position: relative; left: 40px; top: -30px;">
		<div class="page-header">
			<input type="hidden" th:value="${#httpServletRequest.getAttribute('activity').id}" id="activityId"/>
			<h3 id="activityName" th:text="${#httpServletRequest.getAttribute('activity').name}">市场活动-发传单</h3>
			<small><nobr th:text="${#httpServletRequest.getAttribute('activity').startDate}">2020-10-20</nobr>~<nobr th:text="${#httpServletRequest.getAttribute('activity').endDate}">2020-10-20</nobr></small>
		</div>
		
	</div>
	
	<br/>
	<br/>
	<br/>

	<!-- 详细信息 -->
	<div style="position: relative; top: -70px;">
		<div style="position: relative; left: 40px; height: 30px;">
			<div style="width: 300px; color: gray;">所有者</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.owner}">zhangsan</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">名称</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b th:text="${activity.name}">发传单</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>

		<div style="position: relative; left: 40px; height: 30px; top: 10px;">
			<div style="width: 300px; color: gray;">开始日期</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.startDate}">2020-10-10</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">结束日期</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b th:text="${activity.endDate}">2020-10-20</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 20px;">
			<div style="width: 300px; color: gray;">成本</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.cost}">4,000</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 30px;">
			<div style="width: 300px; color: gray;">创建者</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;">
				<b th:text="${activity.createBy}">zhangsan&nbsp;&nbsp;</b>
				<small style="font-size: 10px; color: gray;" th:text="${activity.createTime}">2017-01-18 10:10:10</small>
			</div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 40px;" th:unless="${activity.editBy == null}">
			<div style="width: 300px; color: gray;">修改者</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;">
				<b th:text="${activity.editBy}">zhangsan&nbsp;&nbsp;</b>
				<small style="font-size: 10px; color: gray;" th:text="${activity.editTime}">2017-01-19 10:10:10</small>
			</div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 50px;">
			<div style="width: 300px; color: gray;">描述</div>
			<div style="width: 630px;position: relative; left: 200px; top: -20px;">
				<b th:text="${activity.description}">
					市场活动Marketing，是指品牌主办或参与的展览会议与公关市场活动，包括自行主办的各类研讨会、客户交流会、演示会、新产品发布会、体验会、答谢会、年会和出席参加并布展或演讲的展览会、研讨会、行业交流会、颁奖典礼等
				</b>
			</div>
			<div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
	</div>
	
	<!-- 备注 -->
	<div id="remarkDivList" style="position: relative; top: 30px; left: 40px;">
		<div class="page-header">
			<h4>备注</h4>
		</div>
		
		<!-- 备注 -->
		<div class="remarkDiv" style="height: 60px;" th:each="activityRemark :${activityRemarks}" th:id="'div_' + ${activityRemark.id}">
			<img th:title="${activityRemark.createBy}"  th:src="@{/static/image/user-thumbnail.png}" style="width: 30px; height:30px;">
			<div style="position: relative; top: -40px; left: 40px;" >
				<h5 th:text="${activityRemark.noteContent}">哎呦！</h5>
				<font color="gray">市场活动</font>
				<font color="gray">-</font>
				<b th:text="${activity.name}">发传单</b>
				<small style="color: gray;">
					<b th:if="${activityRemark.editFlag}=='0'" th:text="${activityRemark.createTime}">创建时间</b>
					<b th:if="${activityRemark.editFlag}=='1'" th:text="${activityRemark.editTime}">修改时间</b>
					<b th:if="${activityRemark.editFlag}=='0'" th:text="'由' + ${activityRemark.createBy} + '创建'">创建者</b>
					<b th:if="${activityRemark.editFlag}=='1'" th:text="'由' + ${activityRemark.editBy} + '修改'">修改者</b>
				</small>
				<div style="position: relative; left: 500px; top: -30px; height: 30px; width: 100px; display: none;">
					<a class="myHref" name="editA" th:remarkId="${activityRemark.id}" href="javascript:void(0);"><span class="glyphicon glyphicon-edit" style="font-size: 20px; color: #E6E6E6;"></span></a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<!--<a class="myHref" th:href="@{/workbench/activity/deleteActivityRemarkById.do(id=${activityRemark.id})}"><span class="glyphicon glyphicon-remove" style="font-size: 20px; color: #E6E6E6;"></span></a>-->
					<a class="myHref" name="deleteA" th:remarkId="${activityRemark.id}" href="javascript:void(0);"><span class="glyphicon glyphicon-remove" style="font-size: 20px; color: #E6E6E6;"></span></a>
				</div>
			</div>
		</div>


		<div id="remarkDiv" style="background-color: #E6E6E6; width: 870px; height: 90px;">
			<input type="hidden" th:value="${session.sessionUser.name}" id="userName"/>
			<form role="form" style="position: relative;top: 10px; left: 10px;">
				<textarea id="remark" class="form-control" style="width: 850px; resize : none;" rows="2"  placeholder="添加备注..."></textarea>
				<p id="cancelAndSaveBtn" style="position: relative;left: 737px; top: 10px; display: none;">
					<button id="cancelBtn" type="button" class="btn btn-default">取消</button>
					<button id="saveCreateActivityRemarkBtn" type="button" class="btn btn-primary">保存</button>
				</p>
			</form>
		</div>
	</div>
	<div style="height: 200px;"></div>
</body>
</html>